//Google font API
@import url("https://fonts.googleapis.com/css2?family=Archivo:ital,wght@0,100..900;1,100..900&display=swap");

//Variables
$font: "Archivo", Helvetica, Arial, sans-serif;
$txtMainColor: #1f1f1f;
$btnBg: #f28c38;

//Mixins
